/* Подключаем шрифт Rubik */
@import url('https://fonts.googleapis.com/css?family=Rubik:500');

/* Стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #CCD1D9;
}

/* Стили для контейнера заголовка */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 171px;
    height: 88px;
    margin-right: 15px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #FF6200;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/* Стили для контейнера с полями ввода */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
}

.checkbox-group {
    margin: 20px 0;
}

.form__field {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 0.97rem;
    color: #333;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 0.97rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.75rem;
    color: #333;
    font-family: 'Rubik', sans-serif;
}

.checkbox-label {
    font-family: 'Rubik', sans-serif;
    font-size: 0.97rem;
    color: #333;
    margin: 0;
    line-height: 1;
    position: static;
    top: auto;
    display: inline;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 0.75rem;
        color: #FF6200;
        font-weight: 700;
    }
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #FF6200, #e65c00);
    border-image-slice: 1;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.checkbox-wrapper-7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.checkbox-wrapper-7 .tgl {
    display: none;
}

.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl + .tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-7 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 2.4em;
    height: 1.2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.checkbox-wrapper-7 .tgl + .tgl-btn:after,
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-7 .tgl + .tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-7 .tgl + .tgl-btn:before {
    display: none;
}

.checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 1.2em;
    padding: 1.2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
    border-radius: 1.2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2.4px 0 rgba(0, 0, 0, 0.08);
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.48em;
}

.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
    background: #FF6200;
}

.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
}

.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.48em;
}

#mobileGroup.hidden {
    visibility: hidden;
}

.button {
    padding: 16px 42px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #FF6200;
    text-decoration: none;
    user-select: none;
    color: white;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

.button:focus,
.button:hover {
    background: #e65c00;
}

.button:active::after {
    width: 300px;
    height: 300px;
}

body {
    min-height: 100vh;
    position: relative;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: url('../img/arrow.svg');
    background-size: contain;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Новые стили для контейнера подписи */
.signature-container {
    width: 600px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0;
    font-family: 'Calibri', sans-serif;
    font-size: 11.5px;
    color: #000000;
    letter-spacing: 1px;
}

.signature-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.signature-logo {
    width: 171px;
    height: 88px;
    margin: 0 10px;
}

.signature-text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.signature-line {
    display: flex;
    align-items: center;
    margin-bottom: 5.6px; /* Уменьшено в 2.5 раза с 14px до 5.6px */
}

.signature-line:last-child {
    margin-bottom: 0;
}

.signature-icon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.signature-text span {
    line-height: 5.6px; /* Уменьшено в 2.5 раза с 14px до 5.6px */
}